.sticky-header{
z-index: 300000;
    position: sticky;
    top: 0;
}
.opi-inner:after{
background: none;
}
.opt-inner:after{
    background: none;
}

.opi-inner {
    background-color: #fff;
    box-shadow: none;
    border: none;

}

.title-india{
    color: #fff;
    padding-bottom: 20px;
}

.react-select-6-live-region{
    display: none !important;
}
.css-1f43avz-a11yText-A11yText{
        display: none !important;
}

.css-1u9des2-indicatorSeparator{
    display: none !important;
}


.slick-prev {
    left: unset !important;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: unset !important;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: unset !important;
    transform: unset !important;
    cursor: pointer;
    color: transparent unset !important;
    border: 3px solid #232323 !important;
    outline: unset !important;

}
.css-7pg0cj-a11yText{
    display: none !important;
}
.css-7pg0cj-a11yText{
    display: none !important;
}

.css-1f43avz-a11yText-A11yText{
    display: none !important;
}

.b1-aside{
    /* height: 500px; */
}

.big-banner {

    border-bottom: none; 
     border-top: none;
}
@font-face {
    font-family: 'Alphant 12';
    src: url('../public/Alphant12.woff2') format('woff2'),
        url('../public/Alphant12.woff') format('woff');
    font-weight: bold;
    /* font-style: italic; */
    font-display: swap;
}
.headerlogo{
    text-transform: capitalize;
    font-family: 'Alphant 12';
    font-weight: bold;
}

